html, body {
    height: 100%;
    background: #0e0e0e;
}

body {
    overflow: hidden
}

button {
    color: rgba(255, 255, 255, 0.87);
    padding: 10px 16px;
    border: 0;
    border-radius: 2px;
    background-color: #c2185b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

button:focus {
    outline: none;
}

map {
    cursor: pointer;
}

#view {
  position: absolute;
  width: 513px;
  height: 655px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#image {
    position: absolute;
}

#controls {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    z-index: 10;
}

#modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
    max-width: 600px;
    border-radius: 8px;
}